@font-face {
  font-family: 'TossFace';
  src: url('https://cdn.jsdelivr.net/gh/toss/tossface/dist/TossFaceFontMac.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 420;
  font-style: normal;
}

$font-family: Pretendard-Regular, TossFace, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
  Apple Color Emoji, Segoe UI Emoji;

$content-max-width: 720px;
$content-horizontal-padding: 15px;
$content-image-max-height: 560px;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 1080px;
