@use '../../styles/mixins'as *;

.dark-mode-button-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    right: 20px;
}

.dark-mode-button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: transparent !important;
    cursor: pointer;
    backdrop-filter: blur(5px);
    z-index: 3;
    box-shadow: none !important;
    outline: solid var(--post-card-border-color) 1px !important;
}

.dark-mode-icon {
    color: white;
}