@use '../../styles/mixins'as *;

.page-footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
  margin-top: auto;
  flex-wrap: wrap;

  p {
    @include content-max-width;
    text-align: center;
    width: 100%;
  }

  .page-footer {

    .link {
      font-weight: 700;
      font-size: 20px;
      color: var(--primary-text-color);
      margin-right: 20px;
    }

    a {
      color: #3A95FF;
    }
  }
}